<div class="card mt-2">
  <div class="card-header bg-info text-white">
    <h4> Les des comptes</h4>
  </div>
  <div class="card-body">

    <table class="table table-bordred table-striped">
      <thead>
        <tr >
          <th>Numero</th>
          <th>Proprietaire</th>
          <th>Solde</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let c of data">
          <td scope="row">{{c.numero}}</td>
          <td>{{c.prorietaire}}</td>
          <td>{{c.solde}}</td>
          <td class="text-center">
            <button type="button" class="btn btn-sm btn-danger" [routerLink] ="['/comptes/',c.numero]">Details</button>
            <button type="button" class="btn btn-sm btn-warning ml-2">Edit</button>
            <button type="button" class="btn btn-sm btn-default ml-2">Delete</button>
          </td>
        </tr>

      </tbody>
    </table>

  </div>

</div>


<!-- <ul>
  <li *ngFor="let c of data">{{c.numero}} - {{c.prorietaire}} - {{c.solde}}</li>
</ul> -->
